Q1 importer pandas et affiicher temperature.csv

In [1]:
import pandas as pd

In [10]:
df= pd.read_csv('temperature.csv', sep=',')

In [11]:
df.head()

,record_id,month,day,year,AverageTemperatureFahr,AverageTemperatureUncertaintyFahr,City,country_id,Country,Latitude,Longitude
0,474376,1,1,1853,NaN,NaN,Auckland,NEW,New Zealand,36.17S,175.03E
1,474377,2,1,1853,NaN,NaN,Auckland,NEW,New Zealand,36.17S,175.03E
2,474378,3,1,1853,NaN,NaN,Auckland,NEW,New Zealand,36.17S,175.03E
3,474379,4,1,1853,NaN,NaN,Auckland,NEW,New Zealand,36.17S,175.03E
4,474380,5,1,1853,NaN,NaN,Auckland,NEW,New Zealand,36.17S,175.03E

Q2 describe

In [12]:
df.describe()

,record_id,month,day,year,AverageTemperatureFahr,AverageTemperatureUncertaintyFahr
count,4.847000e+04,48470.000000,48470.0,48470.000000,47541.000000,47541.000000
mean,5.044463e+06,6.497050,1.0,1895.186590,51.755143,34.334373
std,2.452494e+06,3.451431,0.0,73.646328,15.064077,2.796225
min,4.743760e+05,1.000000,1.0,1743.000000,2.856200,32.088200
25%,3.778360e+06,3.000000,1.0,1842.000000,40.172000,32.621000
50%,4.672458e+06,6.000000,1.0,1901.000000,54.593600,33.161000
75%,7.660919e+06,9.000000,1.0,1957.000000,63.708800,34.973600
max,8.258730e+06,12.000000,1.0,2013.000000,84.655400,56.679800

On voit que fonction describe donne idée globale sur les données du dataframe et des statistiques (nbr total, top..)

Q3 création nv dataframe

In [13]:
df['month'].dtype

dtype('int64')

In [14]:
dff = df[( (df["month"] == 3) | (df["month"] == 6) | (df["month"] == 9) | (df["month"] == 12) ) & (df["Country"] != 'EAST')]

In [15]:
dff

,record_id,month,day,year,AverageTemperatureFahr,AverageTemperatureUncertaintyFahr,City,country_id,Country,Latitude,Longitude
2,474378,3,1,1853,NaN,NaN,Auckland,NEW,New Zealand,36.17S,175.03E
5,474381,6,1,1853,51.9062,36.9572,Auckland,NEW,New Zealand,36.17S,175.03E
8,474384,9,1,1853,52.5776,33.6380,Auckland,NEW,New Zealand,36.17S,175.03E
11,474387,12,1,1853,59.8460,37.5062,Auckland,NEW,New Zealand,36.17S,175.03E
14,474390,3,1,1854,64.9688,35.3966,Auckland,NEW,New Zealand,36.17S,175.03E
...,...,...,...,...,...,...,...,...,...,...,...
48457,8258718,9,1,2012,57.1946,32.5094,Wroclaw,POL,Poland,50.63N,16.48E
48460,8258721,12,1,2012,29.5070,32.3132,Wroclaw,POL,Poland,50.63N,16.48E
48463,8258724,3,1,2013,29.9480,32.4536,Wroclaw,POL,Poland,50.63N,16.48E
48466,8258727,6,1,2013,61.1672,32.3330,Wroclaw,POL,Poland,50.63N,16.48E
48469,8258730,9,1,2013,NaN,NaN,Wroclaw,POL,Poland,50.63N,16.48E

Q4 calcul numpy

In [16]:
import numpy as np

In [17]:
dfi = dff.pivot_table(
        index='City',
        columns='month',
        values='AverageTemperatureFahr'
    )

In [18]:
dfi

month                3          6          9          12
City
Auckland      65.042668  55.080101  55.017739  62.814245
Brasília      72.198887  67.729918  73.331726  71.434080
Canoas        71.527239  55.391544  59.899240  72.317628
Cape Town     66.275658  54.798010  56.830432  66.010988
Hamilton      63.230257  49.903132  52.444411  62.316334
Johannesburg  64.315141  47.112975  59.148694  66.212447
Kherson       34.609350  67.429008  60.175944  28.268552
Kiev          31.152310  64.945386  56.556334  24.747465
Lvov          33.383562  62.346775  55.931160  27.233136
Marseille     51.512738  66.898033  68.491061  51.498050
Odesa         37.190721  65.018824  62.531412  37.721441
Paris         43.545152  62.032829  59.397981  38.192392
Stockholm     30.890502  54.706772  54.347731  33.702415
Tokyo         41.514069  67.412543  69.268531  38.451465
Tottori       44.871570  70.824360  73.362063  43.101881
Uppsala       27.643682  56.850455  49.622838  24.255133
Warsaw        34.136614  62.333600  56.065121  27.861177
Wroclaw       35.311710  59.918657  55.402386  29.897193

In [19]:
data= dfi.to_numpy()

In [25]:
avg = data.mean(axis=0)

moyene temp pour chaque mois (3,6,9,12)

In [26]:
print(avg)

[47.13065715 60.59627345 59.87915584 44.77977904]

matrice correlation

In [29]:
mat=dfi.corr()

In [30]:
print(mat)

month        3         6         9         12
month
3      1.000000 -0.372695  0.262472  0.989083
6     -0.372695  1.000000  0.685978 -0.407758
9      0.262472  0.685978  1.000000  0.268304
12     0.989083 -0.407758  0.268304  1.000000