partie importer

In [6]:
def importer_csv(nom_fichier):
    table = []
    with open(nom_fichier, 'r', encoding='utf-8') as fichier:
        lecteur = csv.DictReader(fichier)
        for ligne in lecteur:
            table.append(ligne)
    return table

In [7]:
importer_csv("utilisateurs.csv")

[{'nom': 'Morgan',
  'genre': 'M',
  'score_1': '199',
  'score_2': '352',
  'email': 'momo@example.com'},
 {'nom': 'Celia',
  'genre': 'F',
  'score_1': '993',
  'score_2': '239',
  'email': 'celiadupont@example.com'},
 {'nom': 'Mehdi',
  'genre': 'M',
  'score_1': '234',
  'score_2': '876',
  'email': 'bossDeLoctogone@rapgame.fr'},
 {'nom': 'John',
  'genre': 'M',
  'score_1': '1452',
  'score_2': '86',
  'email': 'jonny@example.com'},
 {'nom': 'Axelle',
  'genre': 'F',
  'score_1': '290',
  'score_2': '222',
  'email': 'ax59@ici.com'},
 {'nom': 'Sonia',
  'genre': 'F',
  'score_1': '1987',
  'score_2': '965',
  'email': 'soso@example.com'},
 {'nom': 'Sabina',
  'genre': 'F',
  'score_1': '197',
  'score_2': '25',
  'email': 'booba@example.com'},
 {'nom': 'Thibault',
  'genre': 'F',
  'score_1': '1987',
  'score_2': '765',
  'email': 'thiball@goog.com'},
 {'nom': 'Louis',
  'genre': 'M',
  'score_1': '223',
  'score_2': '65',
  'email': 'lmax@example.com'},
 {'nom': 'Lena',
  'genre': 'F',
  'score_1': '1987',
  'score_2': '765',
  'email': 'leterminator@caramail.com'},
 {'nom': 'Luka',
  'genre': 'M',
  'score_1': '977',
  'score_2': '535',
  'email': 'lulu@example.com'},
 {'nom': 'Sandra',
  'genre': 'F',
  'score_1': '197',
  'score_2': '259',
  'email': 'temointemoin@example.com'},
 {'nom': 'Irena',
  'genre': 'F',
  'score_1': '17',
  'score_2': '893',
  'email': 'nena@example.com'}]

In [8]:
def creer_table():
    return importer_csv('utilisateurs.csv')

partie selectionner

In [27]:
def selectionner_moins_300(table):
    resultat = []
    for utilisateur in table:
        if int(utilisateur['score_1']) < 300:
            resultat.append(utilisateur)
    return resultat

In [24]:
def selectionner_filles(table):
    resultat = []
    for utilisateur in table:
        if utilisateur['genre'] == 'F':
            resultat.append(utilisateur)
    return resultat

In [11]:
def selectionner_domaine(table):
    resultat = []
    for utilisateur in table:
        if utilisateur['mail'].endswith('@example.fr'):
            resultat.append(utilisateur)
    return resultat

partie projecter

In [12]:
def projeter_meilleurs_scores(table, jeu):
    scores = []
    for utilisateur in table:
        score = int(utilisateur[jeu])
        scores.append({jeu: score})
    return scores

In [13]:
def scores_tries(table, jeu):
    scores = []
    for utilisateur in table:
        score = int(utilisateur[jeu])
        scores.append({jeu: score})

    scores_tries = sorted(scores, key=lambda x: x[jeu])
    return scores_tries

In [14]:
def score_moyen(table, jeu):
    total = 0
    nb_joueurs = len(table)

    for utilisateur in table:
        total += int(utilisateur[jeu])

    return total / nb_joueurs

In [15]:
def projeter_mail(table):
    adresses = []
    for utilisateur in table:
        adresses.append({'mail': utilisateur['mail']})
    return adresses

In [16]:
def adresses_bad(table, jeu):
    utilisateurs_tries = sorted(table, key=lambda x: int(x[jeu]))
    worseten = utilisateurs_tries[:10]

    adresses = []
    for utilisateur in worseten:
        adresses.append({'mail': utilisateur['mail']})

    return adresses

In [32]:
def enlevedouble(table, jeu):
    utilisateurs_tries = sorted(table, key=lambda x: int(x[jeu]))
    worseten = utilisateurs_tries[:10]
    uniques = []
    mails_vus = []

    for utilisateur in worseten:
        mail = utilisateur['email']  # Use 'email' instead of 'mail'
        if mail not in mails_vus:
            uniques.append({'mail': mail})
            mails_vus.append(mail)
    return uniques

In [18]:
table = creer_table()

In [19]:
print("les utilisateurs ")
for u in table:
    print(u)

les utilisateurs
{'nom': 'Morgan', 'genre': 'M', 'score_1': '199', 'score_2': '352', 'email': 'momo@example.com'}
{'nom': 'Celia', 'genre': 'F', 'score_1': '993', 'score_2': '239', 'email': 'celiadupont@example.com'}
{'nom': 'Mehdi', 'genre': 'M', 'score_1': '234', 'score_2': '876', 'email': 'bossDeLoctogone@rapgame.fr'}
{'nom': 'John', 'genre': 'M', 'score_1': '1452', 'score_2': '86', 'email': 'jonny@example.com'}
{'nom': 'Axelle', 'genre': 'F', 'score_1': '290', 'score_2': '222', 'email': 'ax59@ici.com'}
{'nom': 'Sonia', 'genre': 'F', 'score_1': '1987', 'score_2': '965', 'email': 'soso@example.com'}
{'nom': 'Sabina', 'genre': 'F', 'score_1': '197', 'score_2': '25', 'email': 'booba@example.com'}
{'nom': 'Thibault', 'genre': 'F', 'score_1': '1987', 'score_2': '765', 'email': 'thiball@goog.com'}
{'nom': 'Louis', 'genre': 'M', 'score_1': '223', 'score_2': '65', 'email': 'lmax@example.com'}
{'nom': 'Lena', 'genre': 'F', 'score_1': '1987', 'score_2': '765', 'email': 'leterminator@caramail.com'}
{'nom': 'Luka', 'genre': 'M', 'score_1': '977', 'score_2': '535', 'email': 'lulu@example.com'}
{'nom': 'Sandra', 'genre': 'F', 'score_1': '197', 'score_2': '259', 'email': 'temointemoin@example.com'}
{'nom': 'Irena', 'genre': 'F', 'score_1': '17', 'score_2': '893', 'email': 'nena@example.com'}

In [25]:
print("\n=== Filles ===")
res=selectionner_filles(table)
for u in res:
    print(u)

=== Filles ===
{'nom': 'Celia', 'genre': 'F', 'score_1': '993', 'score_2': '239', 'email': 'celiadupont@example.com'}
{'nom': 'Axelle', 'genre': 'F', 'score_1': '290', 'score_2': '222', 'email': 'ax59@ici.com'}
{'nom': 'Sonia', 'genre': 'F', 'score_1': '1987', 'score_2': '965', 'email': 'soso@example.com'}
{'nom': 'Sabina', 'genre': 'F', 'score_1': '197', 'score_2': '25', 'email': 'booba@example.com'}
{'nom': 'Thibault', 'genre': 'F', 'score_1': '1987', 'score_2': '765', 'email': 'thiball@goog.com'}
{'nom': 'Lena', 'genre': 'F', 'score_1': '1987', 'score_2': '765', 'email': 'leterminator@caramail.com'}
{'nom': 'Sandra', 'genre': 'F', 'score_1': '197', 'score_2': '259', 'email': 'temointemoin@example.com'}
{'nom': 'Irena', 'genre': 'F', 'score_1': '17', 'score_2': '893', 'email': 'nena@example.com'}

In [28]:

print("Joueurs avec jeu1 < 300 ")
res= selectionner_moins_300(table)
for u in res:
    print(u)

Joueurs avec jeu1 < 300
{'nom': 'Morgan', 'genre': 'M', 'score_1': '199', 'score_2': '352', 'email': 'momo@example.com'}
{'nom': 'Mehdi', 'genre': 'M', 'score_1': '234', 'score_2': '876', 'email': 'bossDeLoctogone@rapgame.fr'}
{'nom': 'Axelle', 'genre': 'F', 'score_1': '290', 'score_2': '222', 'email': 'ax59@ici.com'}
{'nom': 'Sabina', 'genre': 'F', 'score_1': '197', 'score_2': '25', 'email': 'booba@example.com'}
{'nom': 'Louis', 'genre': 'M', 'score_1': '223', 'score_2': '65', 'email': 'lmax@example.com'}
{'nom': 'Sandra', 'genre': 'F', 'score_1': '197', 'score_2': '259', 'email': 'temointemoin@example.com'}
{'nom': 'Irena', 'genre': 'F', 'score_1': '17', 'score_2': '893', 'email': 'nena@example.com'}

In [29]:

print("Moyenne jeu1")
print(score_moyen(table, 'score_1'))

Moyenne jeu1
826.1538461538462

In [34]:

print("Adresses uniques des 10 plus faibles")
for m in enlevedouble(table, 'score_1'):
    print(m)

Adresses uniques des 10 plus faibles
{'mail': 'nena@example.com'}
{'mail': 'booba@example.com'}
{'mail': 'temointemoin@example.com'}
{'mail': 'momo@example.com'}
{'mail': 'lmax@example.com'}
{'mail': 'bossDeLoctogone@rapgame.fr'}
{'mail': 'ax59@ici.com'}
{'mail': 'lulu@example.com'}
{'mail': 'celiadupont@example.com'}
{'mail': 'jonny@example.com'}